/* ------- UI - Icon ------- */
svg,
.ui-icon {
	display: block;
	transition: var(--duration, 0.3s) fill, var(--duration, 0.3s) stroke;
}

.ui-icon {
	width: 2.4rem;
	height: 2.4rem;
	fill: currentColor;
}
