/* ------- Icons ------- */
svg,
.icon {
	display: block;
	transition: $duration fill, $duration stroke;
}

.icon {
	width: 2.4rem;
	height: 2.4rem;
	fill: currentColor;
	stroke: currentColor;

	/*
	&-check {
	  width: 100px;
	  height: 100px;
	  fill: #000;
	}
	*/
}