.home-section {
	padding: 4rem 0;

    &__title {
        margin-top: 0;
        font-size: 3rem;
        font-weight: 700;

        h1 {
            margin: 0;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }
    }
}
