// Mixins
@import "mixins";

// Functions
@import "functions";

// Base
$base-font-family: "Roboto", "Arial", sans-serif;
$base-font-weight: 400;
$base-font-size: var(--text-size);
$base-line-height: var(--text-line-height);
$base-color: var(--color-base);
$base-background: var(--color-background);

// Fonts
$font-primary: $base-font-family;

// Font sizes
$font-size-normal: $base-font-size;

// Colors
$black: #000;
$white: #fff;
$grey: grey;

$accent: var(--color-accent);
$second: var(--color-second);

$backdrop: var(--color-backdrop);

$input-border: var(--color-border);
$placeholder: var(--color-placeholder);
$disabled-color: var(--color-disabled);
$disabled-background: var(--color-disabled);

$error: var(--color-error);
$success: var(--color-success);
$link: var(--color-link);

// Container
$container: var(--container);
$min-width: 350px;
$gutters: var(--gutters);
$gutters-sm: var(--gutters-sm);

// Spaces
$section-space: var(--section-space);

$space: var(--space);
$space-sm: var(--space-sm);

// Breakpoints
$grid-breakpoints: (
	mob-xxs: 371px,
	mob-xs: 420px,
	mob-sm: 480px,
	mob-m: 576px,
	mob: 768px,
	tab: 992px,
	tab-l: 1025px,
	pc: 1200px,
	netbook: 1367px,
	pc-l: 1440px,
	pc-md: 1600px,
	pc-xl: 1680px,
	pc-xxl: 1920px
);

:root {
    --font-family: "Roboto", "Arial", sans-serif;
    --title-size: 3.2rem;
	--text-size: 1.6rem;
	--text-line-height: 1.5;
}

:root {
	--color-black: #000;
	--color-black-rgb: 0, 0, 0;
	--color-white: #fff;
	--color-white-rgb: 255, 255, 255;
	--color-background: #fff;

	--color-base: #000;
	--color-base-rgb: 0, 0, 0;
	--color-grey: grey;

    --color-accent: #0000cc;
	--color-accent-rgb: 0, 0, 204;
	--color-second: #0000ff;
	--color-accent-rgb: 0, 0, 255;

	--color-border: #ddd;
	--color-placeholder: #999;
	--color-disabled: #999;

	--color-backdrop: rgba(0, 0, 0, 0.7);
	--color-error: red;
	--color-success: green;

	--color-link: inherit;
}

:root {
	--container: 132rem;
	--gutters: 4rem;
	--space: 4rem;
	--space-sm: 2rem;
    --section-space: 10rem;
	--radius: 2rem;
	--radius-sm: 1rem;
	--title-margin: 4rem;

    @include media(mob) {
        --gutters: 2rem;
    }
}

:root {
    --header-height: 8rem;
    --header-height-fixed: 8rem;

	--logo-width: 15rem;
	--logo-height: 5rem;

	--button-height: 4rem;
	--input-height: 4rem;
}

:root {
    --duration: 0.3s;
    --duration-md: 0.5s;
}
