/* ------- Base ------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
    font-size: 62.5%;
    background: var(--color-background, #fff);
}

body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-family: var(--font-family, "Roboto", "Arial", sans-serif);
	font-weight: 400;
	font-size: var(--text-size, 1.6rem);
	line-height: var(--text-line-height, 1.5);
	color: var(--color-base, #000);
}

p {
	margin: 0 0 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: var(--color-link, inherit);
	transition: color var(--duration, 0.3s);
}

button {
	appearance: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
	color: var(--color-base, #000);
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}

img {
	max-width: 100%;
}

hr {
	margin: 2rem 0;
	border: none;
	border-bottom: 1px solid var(--color-grey, grey);
	height: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;

	th, td {
		padding: 1rem;
		border: 1px solid var(--color-border, #ddd);
	}
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 360px;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
	width: 100%;
}

.container,
.container-fluid {
	margin: 0 auto;
	padding: 0 var(--gutters, 4rem);
	width: 100%;
	max-width: calc(var(--container, 132rem) + var(--gutters, 4rem) * 2);
}

.section,
.page-section {
	padding-top: calc(var(--section-space, 8rem) * 0.5);
	padding-bottom: calc(var(--section-space, 8rem) * 0.5);

    &:last-child {
        padding-bottom: var(--section-space, 8rem);
    }
}

::selection {
	color: var(--color-white, #fff);
	background: var(--color-accent, #0000cc);
}

a, button, select {
	&:focus-visible {
		outline: 0.2rem solid var(--color-accent, #0000cc);
		outline-offset: 0.3rem;
	}
}
