/* ------- Site elements ------- */
.section-title {
    margin-top: 0;
    font-size: var(--title-size, 3.2rem);
    font-weight: 700;

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
    }
}
