/* ------- Site elements ------- */
.section-title {
    margin-top: 0;
    font-size: var(--title-size);
    font-weight: 400;

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

.table-wrapper {
	overflow: auto;

	table {
		min-width: 60rem;
	}
}
