/* ------- utilites ------- */
.u-text-highlighted {
    color: $accent;
}

.u-hidden {
    display: none !important;
}

.u-hidden-desktop {
    @include media-min(tab-l) {
        display: none !important;
    }
}

.u-hidden-mobile {
    @include media(mob) {
        display: none !important;
    }
}

.u-visible-desktop {
    @include media(tab-l) {
        display: none !important;
    }
}

.u-visible-mobile {
    @include media-min(mob) {
        display: none !important;
    }
}
