---
import site from '@data/site.json';
import Button from '@components/modules/Button.astro';
import Menu from '@components/header/Menu.astro';
---
<header class="header">
	<div class="header__inner">
		<div class="header__container container">
			<div class="header__logo-wrapper">
				<a href="/" class="header__logo logo">
					<img class="logo__img" src="img/logo.svg" width={site.logo.width} height={site.logo.height} alt={site.name}>
				</a>
			</div>
            <Menu class="header__menu"></Menu>
			<div class="header__button-wrapper">
				<Button class="header__button">Button</Button>
			</div>
		</div>
	</div>
</header>
