---
import site from '@data/site.json';
var currentYear = new Date().getFullYear();
---

<footer class="footer">
	<div class="footer__container container">
		<div class="footer__logo-wrapper">
			<a href="/" class="footer__logo logo">
				<img class="logo__img" src="img/logo.svg" width={site.logo.width} height={site.logo.height} alt={site.name}>
			</a>
		</div>
		<div class="footer__copyright">&copy; { currentYear } Devstart</div>
	</div>
</footer>
