/* ------- Footer ------- */
.footer {
    flex-shrink: 0;
    padding: 2rem 0;
    width: 100%;
    color: $white;
    background: $black;

    &__container {
        display: grid;
        gap: 4rem;

        @include grid-columns(3);
    }
}
