/* ------- Header ------- */
.logo{
	display: block;
	flex: none;
	width: var(--logo-width);
	height: var(--logo-height);

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.header {
	position: relative;
	z-index: 100;
	flex-shrink: 0;
	width: 100%;
	height: var(--header-height, 8rem);

	&__inner {
		height: var(--header-height, 8rem);
		background: var(--color-black, #000);
	}

	&__container {
		display: grid;
		align-items: center;
		grid-template-columns: auto minmax(0, 1fr) auto;
        grid-template-areas: "logo menu button";
		gap: 3rem;
		height: 100%;

        @include media(tab) {
            grid-template-columns: minmax(0, 1fr) auto auto;
            grid-template-areas: "logo button menu";
        }

        @include media(mob) {
            gap: 2rem;
        }
	}

    &__logo-wrapper {
        grid-area: logo;
    }

    &__menu {
        grid-area: menu;
    }

    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
        grid-area: button;
    }

    &__button {
        min-width: 0;
    }

	&.is-fixed-start {
		.header__inner {
			height: var(--header-height-fixed, 8rem);
			transform: translateY(-100%);
		}
	}

	&.is-fixed {
		.header__inner {
			position: fixed;
			z-index: 100;
			left: 0;
			top: 0;
			width: 100%;
			transition: var(--duration, 0.3s) transform;

            .is-modal-active & {
                padding-right: var(--modal-scrollbar-compensate);
            }

            .is-menu-active & {
                padding-right: var(--menu-scrollbar-compensate);
            }
		}
	}

	&.is-fixed-visible {
		.header__inner {
			transform: translateY(0);
		}
	}
}
